/* The overall div containing the terminal */
#terminal-div {
    padding: 20px 30px 20px 30px;
    height: 10%; 
    width: 100%; 
    border-block: 5px;
}

/* The window that contains the input prompt */
#terminal-window {
    max-height: inherit;
    width: 100%; 
    background-color: lightblue;
}

/* Some fun: a blinking cursor. */
#terminal-cursor {
    animation: blink 1s infinite step-end;
} @keyframes blink {
    from, to { opacity: 0; } 
    50% {opacity: 1;}
}

.button {
    background-color: rgb(67, 99, 168);
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    color: #fff;
    font-family: 'Courier New';
    font-size: 10px;
    text-decoration: none;
    border: none;
    position: absolute;
    right: 8px;
    bottom:   .1;
    padding: 1.5em;
}
.button:hover {
    border: none;
    background: rgb(45, 74, 138);;
    box-shadow: 0px 0px 1px #777;
}

body {
    margin: 0;
    padding: 0;
}
#terminal {
    position: fixed;
    bottom:0;
    width:100%;
    background-color: rgb(194, 232, 255);
}
.terminal {
    --color: rgba(10, 23, 82, 0.99);
    --background:rgb(194, 232, 255);
    --size: 1.5;
}
