<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <!-- <script type="text/javascript" src="{{ url_for ('static', filename='js/main.js') }}"></script> -->
        <link rel="stylesheet" href="{{ url_for ('static', filename='css/demo.css') }}" />
        <link rel="stylesheet" href="{{ url_for ('static', filename='css/graph.css') }}" />
        <link rel="stylesheet" href="{{ url_for ('static', filename='css/list.css') }}" />
        <link rel="stylesheet" href="{{ url_for ('static', filename='css/terminal.css') }}" />
        <link rel="stylesheet" href="{{ url_for ('static', filename='css/menu.css') }}" />
        <link
            href="http://fonts.googleapis.com/css?family=Lato:400,700"
            rel="stylesheet"
            type="text/css"
        />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css"/>
       
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{{ url_for ('static', filename='js/lib/jquery.mousewheel.min.js') }}"></script>
        <script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js"></script>
    
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-analytics.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-database.js"></script>

        <script>
            jQuery(document).ready(function($) {
                $('#introModal').modal('show');
                $(window).scroll(function() {
                    $('#terminal').each(function() {
                        $(this).css({top: $('body').prop('scrollTop')});
                    });
                });
            });
        </script>

    </head>


    <body>
        

        <!-- Intro Modal -->
        <div id="introModal" class="modal fade">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="introModalLabel">Welcome to Study Graph! </h5>
                <button class="close btn-primary" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    Create interactive mind maps to study, save and share! <br>
                    Hit the tilde key to get started with the Command Line Interface.  
                </div>
            </div>
            </div>
        </div>

        <!-- Manual Modal -->
        <div id="manualModal" class="modal fade">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="manualModalLabel">Command Line Manual </h5>
                <button class="close btn-primary" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    addNode <br> 
                    - Add a node with a title and description <br> 
                    - usage: addNode ["title"] ["summary"] <br> <br> 

                    connect <br> 
                    - Connect two nodes <br> 
                    - usage: connect ["title of parent"] ["title of child"] <br> <br> 
                    
                    removeNode <br> 
                    - Remove a node <br> 
                    - usage: removeNode ["title"] <br> <br> 

                    help <br> 
                    - See manual on the Command Line <br> 
                    - usage: help 
                </div>
            </div>
            </div>
        </div>


        <div id="main-display-view" onclick="console.log('maindisplay clicked');">
            <div id="graph-view-wrapper"></div>
        </div>

        
        
        <!-- Terminal goes here. -->
        <div id="terminal">
           
            <div class="btns float-right">
                <!-- Button trigger modal -->
                <button data-toggle="modal" data-target="#manualModal">
                    Manual
                </button>
                <!-- TODO: do some event listener that saves this graph to JSON file -->
                <button onclick="
                    var dispatcher = document.getElementById('event-dispatcher');
                    const saveEvent = new CustomEvent('save', {
                        bubbles: true,
                    }); 
                    dispatcher.dispatchEvent(saveEvent); 
                ">Save Graph</button>
            </div>
            
            <!-- Placeholder element. We attach dispatched events to this. -->
            <div id="event-dispatcher"></div>

            <script>
                var dispatcher = document.getElementById("event-dispatcher");

                /**************************************************************/
                /* Define the functions that our terminal will take as input. */
                /**************************************************************/
                
                var settings = {
                    prompt: '> ',
                    name: 'CLI',
                    height: 250,
                    enabled: false,
                    greetings: 'Welcome to the Command Line. \nModify your Study Graph here:',
                    keypress: function(e) {
                        if (e.which == 96) {
                            return false;
                        }
                    }
                };
                $("#terminal").terminal(
                    {

                        /* 
                            Add a node to the graph. 
                            If there's already a node with title=title, 
                            just update its summary. 
                        */
                        addNode: function(title, summary) {
                           
                            // Build an event and fire it. 
                            const event = new CustomEvent("addNode", {
                                bubbles: true,
                                detail: {
                                    title: title,
                                    summary: summary,
                                }
                            }); 
                            dispatcher.dispatchEvent(event);

                            return "";
                        }, 

                        removeNode: function(title) {
                           
                            // Build an event and fire it. 
                            const event = new CustomEvent("removeNode", {
                                bubbles: true,
                                detail: {
                                    title: title,
                                }
                            }); 
                            dispatcher.dispatchEvent(event);

                            // TODO: return something if there isn't a node 
                            // called 'title'

                            return "";
                        },

                        /* Connect a parent and a child node. */
                        connect: function(parent, child) { 

                            // Build an event and fire it. 
                            const event = new CustomEvent("connect", {
                                bubbles: true,
                                detail: {
                                    parent: parent, 
                                    child: child,
                                }
                            }); 
                            dispatcher.dispatchEvent(event);
                            
                            setTimeout(function() {
                                $("#main-display-view").click();
                            }, 1000);

                            return "";
                        },

                        /********** HELP COMMANDS ************/
                        help: function(command) {
                            switch(command) {
                                case "addNode":
                                    return "\tusage: addNode \"title\" \"summary\""
                                case "connect": 
                                    return "\tusage: connect \"title of parent\" \"title of child\""
                                default: 
                                    return command + " not found"
                            }
                        },
                    },
                    settings
                )
            </script>
        </div>


        <!-- Underscore Templates -->
        <script type="text/template" id="concept-list-template">

            <div id="concept-list-show-button" class="small-vp-button">
              Concept List
            </div>

            <div id="concept-title-header">
              <h1>
                Concept List
              </h1>
              <div id="explore-learn-tools">
                <div id="concept-list-search">
                  <input type="text" id="concept-list-search-input" placeholder="enter the name of a concept to find it">
                  <input type="button" value="Clear" id="cancel-search-input" style="top: 39px;">
                </div>

                <div id="concept-list-hide-button" style="font-size: 1.4em; padding: 0  0.1em 0.2em 0.1em;">
                  «
                </div>

              </div>
            </div>

            <div id="concept-list-wrapper">
              <ol id="concept-list">
              </ol>
            </div>
        </script>

        <!-- js -->
        <script
            data-main="{{ url_for('static', filename='js/custom.js') }}"
            src="{{ url_for ('static', filename='js/lib/require-min.js') }}"
        ></script>

        <script>
            /* TODO: 
            Get the element that corresponds with the terminal. 

            Create an event that fires on tilde press. 
            Maintain some state (is terminal visible or invisible?).
            Modify the css of the terminal div accordingly.

             */
            $('#terminal').hide();
            var focus = false;
            $(document.documentElement).keypress(function(e) {
                var term1 = $('#terminal')[0];
                
                if (e.which == 96) {
                    $('#terminal').slideToggle('fast')
                    term1.scrollTop = term1.scrollHeight;
                    $('#terminal').focus();
                }
            });
        </script>

        <!-- ************************************************************************* -->
        <!-- FIREBASE START -->


        <script>
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        var firebaseConfig = {
            apiKey: "AIzaSyBgCoxayVWYXDHa4QbO_HfsBlJnv_6l7i4",
            authDomain: "study-graph.firebaseapp.com",
            databaseURL: "https://study-graph.firebaseio.com",
            projectId: "study-graph",
            storageBucket: "study-graph.appspot.com",
            messagingSenderId: "1060120678529",
            appId: "1:1060120678529:web:92b3ab2137596d04287d80",
            measurementId: "G-TWMK93F6ZT"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
        var database = firebase.database();

        function writeUserData(userId, name, email, imageUrl) {
            database.ref('users/' + userId).set({
                username: name,
                email: email,
                profile_picture : imageUrl
            });
        }


        </script>

        <!-- FIREBASE END -->
        <!-- ************************************************************************* -->

    </body>
</html>
