{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    
    <!-- Add a graph. -->
    <form action="/add-graph" method="POST">
        <input name="filename" type="text">
        <button>Add graph</button>
    </form>


    <h3 class="title">List graph files here</h3>
    <table>
        <th>Your graph files</th>
        {% for graph in graphs %}
            <<tr><td>
                <form method="POST" action="/graph">
                    <button name="graph_id" value="{{ graph.id }}">
                        {{ graph.filename }}
                    </button>
                </form>
            </td></tr>
        {% endfor %}

    </table>

</div>
{% endblock %}