html,
body,
header {
    height: 100%;
}

#anon-intro {
    height: 100%;
    background: rgba(1, 103, 255, 0.568);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.overlay{
  background: rgba(1, 103, 255, 0.568) url("https://miro.medium.com/max/2978/1*rmq7bd3GFjcwfXtkrBQaPQ.png")no-repeat center center fixed !important;
}

.background {
  background: rgba(1, 103, 255, 0.568);
  height:70%;
  /* padding: 0px 0px 30px 0px; */
}

#intro {
  height: 100%;
  background: rgba(1, 103, 255, 0.568) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.short{
  height: 30% !important;
}

.top-nav-collapse {
    background-color: #24355C;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.text-left {
  text-align: left !important;
}

.container-fluid{
  padding: 10px; 
}

footer{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow:hidden;
}

.next {
  display: inline !important;
}

#graphName {
  display: inline-block;
  vertical-align: top;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 7px;
}

#btnAdd{
  display: inline-block;
  vertical-align: top;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  padding: 7px;
}

.graphInput {
  height: 30px; 
  width: 100%; 
  border-width: 1px; 
  border-radius:4px;
}

.table {
  display: table;
}

.overflow {
  overflow-y:scroll;
  max-height:500px; 
}
.tr {
  display: table-row;
}
.hr {
  display: table-row;
  padding: .1em 0em .1em; /* top | horizontal | bottom */
}
.cell1 {
  display: table-cell;
  padding: .1em .3em .3em; /* top | horizontal | bottom */
  border-bottom: 1.5px solid rgb(230, 230, 230);

}
.hcell {
  display: table-cell;
  padding: .1em .9em .7em; /* top | horizontal | bottom */
  border-bottom: 1.5px solid rgb(230, 230, 230);
}

.tcell {
  display: table-cell;
  padding: .7em .9em .7em; /* top | horizontal | bottom */
  border-bottom: 1.5px solid rgb(230, 230, 230);
}

.edit {
  padding: .1em .5em .1em !important; /* top | horizontal | bottom */
}

.tr:hover {
  background-color: #ececec;
}
.tr:focus {
  background-color: #ececec;
}

.w-70 {
  width: 70%;
}

.w-15 {
  width: 15%;
}