html,
body,
header {
    height: 100%;
}

#anon-intro {
    height: 100%;
    background: rgba(1, 103, 255, 0.568);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.overlay{
  background: rgba(1, 103, 255, 0.568) url("https://miro.medium.com/max/2978/1*rmq7bd3GFjcwfXtkrBQaPQ.png")no-repeat center center fixed !important;
}

.background {
  background: rgba(1, 103, 255, 0.568);
  height:80%;
  /* padding: 0px 0px 30px 0px; */
}

#intro {
  height: 100%;
  background: rgba(1, 103, 255, 0.568) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.short{
  height: 40% !important;
}

.top-nav-collapse {
    background-color: #24355C;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
}

.center {
  margin-left: auto;
  margin-right: auto;
}

table, tr {
  border: 1px solid black;
}

td {
  padding: 5px;
  /* width:100%; */
}
th {
  padding: 5px;
  text-align: left;
}

.text-left {
  text-align: left !important;
}

.container-fluid{
  padding: 10px; 
}

footer{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow:hidden;
}

table{
  overflow-y:scroll; 
  height:400px; 
  display:block;  
  width:95%;
}
