/* The overall div containing the terminal */
#terminal-div {
    padding: 20px 30px 20px 30px;
    height: 10%; 
    width: 100%; 
}

/* The window that contains the input prompt */
#terminal-window {
    max-height: inherit;
    width: 100%; 
    background-color: lightblue;
}

/* Some fun: a blinking cursor. */
#terminal-cursor {
    animation: blink 1s infinite step-end;
} @keyframes blink {
    from, to { opacity: 0; } 
    50% {opacity: 1;}
}

body {
    margin: 0;
    padding: 0;
}
#terminal {
    position: fixed;
    bottom:0;
    width:100%;
    background-color: rgb(194, 232, 255);
    border-top:solid blue 5px;
}
.terminal {
    --color: rgba(10, 23, 82, 0.99);
    --background:rgb(194, 232, 255);
    --size: 1.5;
}
