{% extends "base.html" %}

{% block content %}

<header class="short background">
    <!--Mask-->

    <!-- Main Pane, Anonymous User -->
    <div class=container>
        <div class="container-fluid d-flex justify-content-center h-100 margin-bottom" style="height: 50%; padding-top: 50px;">

            <div class="row d-flex justify-content-center text-center">
                <div class="col-md-12">
                    <!-- Heading -->
                    <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">Workspace</h2>
                            
                    <!-- Divider -->
                    <hr class="hr-light">

                    <!-- Description -->
                    <h4 class="white-text my-4">Create and edit graphs here</h4>
                    
                </div>

            </div>

        </div>

    </div>
    <!--/.Mask-->
</header>

<div id="alert-modal" class="modal fade center">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h4 id="alert-modal-title" class="modal-title"></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span style='color:red;' aria-hidden="true">&times;</span></button>
        </div>
        <div id="alert-modal-body" class="modal-body"></div>
      </div>
    </div>
</div>

<div class='background' style='height:100%'>
    <br> 
    <div class="container" style='width:90%'>
        
        <div class="container justify-content-center next" style='width:90%'>
            
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <script> 
                        $('#alert-modal-title').html('Try Again!');
                        $('#alert-modal-body').html("{{ messages[0] }}");
                        $('#alert-modal').modal('show');
                    </script>
                {% endif %}
            {% endwith %}
            
            <!-- Add a graph. -->
            <form id='graphAdd' class='pull-left w-100' action="/graph-add" method="POST">
                
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-sm-12 d-flex align-items-center justify-content-center">
                        <div id='graphName' style="width: 65%; overflow: hidden">
                            <input name='filename' class="center-block graphInput" type="text" placeholder='New Graph' class="form-control" aria-label="Name your graph" style='padding-left:8px;'/>
                        </div>
                        <button id=btnAdd class="btn btn-primary btn-md center-block" Style="width: 20%;"> Add</button>
                     </div>
                </div>
                

            </form> 
            <br>
        </div>
       
        <div class="container-fluid align-items-center w-10 justify-content-center" style="background: white; min-height: 500px; padding: 20px 0px 20px 0px; border-radius:6px;">
            <div class="container-fluid justify-content-center align-items-center d-lg-flex w-100" style="padding:0px 0px;">
                <div class="col justify-content-center align-items-center overflow">
                    <div class="table">
                        <!-- Header Row -->
                        <div class="hr">
                          <div class="cell1 w-70">
                            Name
                          </div>
                          <div class="hcell w-15">
                            Owner
                          </div>
                          <div class="hcell w-15">
                            Last Opened
                          </div>
                          <div class="hcell edit">
                            &nbsp;
                          </div>
                          <div class="hcell edit">
                            &nbsp;
                          </div>
                        </div>
                        <!-- Graph Rows -->
                        {% for graph in graphs %}

                        <!-- Fetch Graph form -->
                        <form method="GET" action="/graph-load?graph_id={{ graph.id }}" id="my_form" target="_blank">
                            <input type="hidden" name="graph_id" value="{{ graph.id }}" />
                        </form>
                            
                        <!-- Delete Graph form -->
                        <form id='deleteGraph' method="GET" action="/graph-delete?graph_id={{ graph.id }}">
                            <input type='hidden' name='graph_id' value="{{ graph.id }}" />
                        </form>

                        <!-- <a class='tr' href="javascript:{}" onclick="document.getElementById('my_form').submit();"> -->
                        <a class='tr' href="javascript:{}" >
                            <!-- Name -->
                            <div class='tcell' onclick="document.getElementById('my_form').submit();">
                                {{ graph.filename }}
                            </div>
                            <!-- Owner -->
                            <div class='tcell' onclick="document.getElementById('my_form').submit();">
                                {{ current_user.name }}
                            </div>
                            <!-- Last Opened -->
                            <div class='tcell' onclick="document.getElementById('my_form').submit();">
                                 {{ graph.last_opened.strftime("%m/%d/%y %H:%M") }}
                            </div>
                            <div class='tcell edit' onclick="document.getElementById('rename{{graph.id}}').style.display='inline'">
                                <!-- Button to rename the graph. -->
                                <span style='color:rgb(255, 187, 0);' onclick="document.getElementById('rename{{graph.id}}').style.display='inline'">
                                    <i class="fas fa-edit"></i>
                                </span>
                
                                <!-- Input to put in new name -->
                                <form method="POST" action="/graph-rename?graph_id={{ graph.id }}">
                                    <input style="display: none;" id="rename{{graph.id}}" name="new_filename" type="text" class="form-control" placeholder="Name" aria-label="Name your graph" aria-describedby="basic-addon1">
                                </form>
                            </div>
                            
                            <div class='tcell edit'>
                                <span style='color:red;' onclick="document.getElementById('deleteGraph').submit();" name="graph_id" value="{{ graph.id }}">
                                    <i class="fas fa-trash-alt"></i>
                                </span>
                            </div>
                        </a>
                        {% endfor %}
                        
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
</div>

{% endblock %}
