{% extends "base.html" %}

{% block content %}
<header class="short background">
    <!--Mask-->

    <!-- Main Pane, Anonymous User -->
    <div class=container>
        <div class="container-fluid d-flex justify-content-center h-100 margin-bottom" style="height: 50%; padding-top: 50px;">

            <div class="row d-flex justify-content-center text-center">
                <div class="col-md-12">
                    <!-- Heading -->
                    <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">Workspace</h2>
                            
                    <!-- Divider -->
                    <hr class="hr-light">

                    <!-- Description -->
                    <h4 class="white-text my-4">Create and edit graphs here</h4>
                    
                </div>

            </div>

        </div>

    </div>
    <!--/.Mask-->
</header>


<div class='background' style='height:100%'>
    <br> 
    <div class="container" style='width:90%'>
        
        <div class="container justify-content-center next" style='width:90%'>
            <div class="text-danger justify-content-center">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    
                        {{ messages[0] }}
                    
                {% endif %}
                {% endwith %}
            </div>


            <!-- Add a graph. -->
            <form id='graphAdd' class='pull-left w-100' action="/graph-add" method="POST">
                
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-sm-12 d-flex align-items-center justify-content-center">
                        <div id='graphName' style="width: 65%; overflow: hidden">
                            <input name='filename' class="center-block graphInput" type="text" placeholder='New Graph' class="form-control" aria-label="Name your graph"/>
                        </div>
                        <button id=btnAdd class="btn btn-primary btn-md center-block" Style="width: 20%;"> Add</button>
                     </div>
                </div>
                

            </form> 
            <br>
        </div>
        

        <div class="container-fluid align-items-center w-10" style="background: white;min-height: 100px; padding: 20px 0px 20px 0px; border-radius:6px;">
            <div class="container-fluid align-items-center d-lg-flex w-100">
                <br>
                <div class=col>
                    <table>
                        <colgroup>
                            <col span="1" style="width: 70%;">
                            <col span="2" style="width: 10%;">
                            <col span="3" style="width: 20%;">
                            <col span="4" style="width: 0%;">
                            <col span="5" style="width: 0%;">
                        </colgroup>
                        
                        <tbody>
    
                        
                        <tr> 
                            <th> Name </th>
                            <th> Owner </th>
                            <th> Last Opened </th>
                            <th> &nbsp; </th>
                            <th> &nbsp; </th>
                        </tr>
                        {% for graph in graphs %}
                        <tr class='outline'>
                            <td>
                                <form method="GET" action="/graph-load?graph_id={{ graph.id }}" id="my_form" target="_blank">
                                    <button class="text-left" style= 'background: transparent;
                                    border: none !important;' name="graph_id" value="{{ graph.id }}">
                                        {{ graph.filename }}
                                    </button>
                                </form>
                            </td>
                            <td> 
                                {{ current_user.name }}
                            </td>
                            <td> 
                                {{ graph.last_opened.strftime("%Y-%m-%d %H:%M") }}
                            </td>
                            <td>
                                <!-- Button to rename the graph. -->
                                <button class="btn btn-sm btn-outline-warning" onclick="document.getElementById('rename{{graph.id}}').style.display='inline'">
                                    Rename
                                </button>
                
                                <!-- Input to put in new name -->
                                <form method="POST" action="/graph-rename?graph_id={{ graph.id }}">
                                    <input style="display: none;" id="rename{{graph.id}}" name="new_filename" type="text" class="form-control" placeholder="Name" aria-label="Name your graph" aria-describedby="basic-addon1">
                                </form>
                            </td>
                            
                            <td>
                                <form method="GET" action="/graph-delete?graph_id={{ graph.id }}">
                                    <button class="btn btn-sm red" name="graph_id" value="{{ graph.id }}">
                                        x
                                    </button>
                                </form>
                            </td>
                            
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                    
            </div>
        </div>
    </div>
</div>

{% endblock %}
