{% extends "base.html" %}

{% block content %}
<header>
    <!--Mask-->

    <!-- Main Pane, Anonymous User -->
    {% if not current_user.is_authenticated %}

    <div id="anon-intro" class="view">

        <!-- <div class="mask light"> -->
        
            <div class="container-fluid d-flex align-items-center justify-content-center h-100">

            <div class="row d-flex justify-content-center text-center">

                <div class="col-md-12">

                    <!-- Heading -->
                    <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">Get started</h2>

                    <!-- Divider -->
                    <hr class="hr-light">

                    <!-- <div class="column is-4 is-offset-4"> -->
                        <div class="box">
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <div class="notification is-danger">
                                    {{ messages[0] }}
                                </div>
                            {% endif %}
                            {% endwith %}
                            <form method="POST" action="/login">
                                <div class="field form-group">
                                    <div class="control">
                                        <input class="input is-large form-control" type="email" name="email" placeholder="Email" autofocus="">
                                    </div>
                                </div>
                    
                                <div class="field form-group">
                                    <div class="control">
                                        <input class="input is-large form-control" type="password" name="password" placeholder="Password">
                                    </div>
                                </div>
                                <div class="field form-group">
                                    <label class="checkbox">
                                        <input type="checkbox">
                                        Remember me
                                    </label>
                                </div>
                                <button class="btn white button is-block is-info is-large is-fullwidth">Login</button>
                            </form>
                        </div>
                    <!-- </div> -->

                </div>

            </div>

        <!-- </div> -->
        </div>

    </div>
    {% endif %}
    <!--/.Mask-->

</header>

{% endblock %}