{% extends "base.html" %}

{% block content %}
<header>
    <!--Mask-->

    <!-- Main Pane, Anonymous User -->
    {% if not current_user.is_authenticated %}

    <div id="anon-intro" class="view">

        <!-- <div class="mask light"> -->
        
            <div class="container-fluid d-flex align-items-center justify-content-center h-100">

            <div class="row d-flex justify-content-center text-center">

                <div class="col-md-12">

                    <!-- Heading -->
                    <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">Join here!</h2>

                    <!-- Divider -->
                    <hr class="hr-light">

                    <!-- <div class="column is-4 is-offset-4"> -->
                        <!-- <h3 class="title">Sign Up</h3> -->
                    <div class="box">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="notification is-danger white-text">
                                {{ messages[0] }}. Go to <a class='white-text font-weight-bold' href="{{ url_for('auth.login') }}">login page</a>.
                            </div>
                            <br>
                        {% endif %}
                        {% endwith %}
                        <form method="POST" action="/signup">
                            <div class="field form-group">
                                <div class="control">
                                    <input class="input is-large form-control" type="email" name="email" placeholder="Email" autofocus="">
                                </div>
                            </div>
                
                            <div class="field">
                                <div class="control form-group">
                                    <input class="input is-large form-control" type="text" name="name" placeholder="Name" autofocus="">
                                </div>
                            </div>
                
                            <div class="field">
                                <div class="control form-group">
                                    <input class="input is-large form-control" type="password" name="password" placeholder="Password">
                                </div>
                            </div>
                            <br>
                            <button class="btn white button is-block is-info is-large is-fullwidth">Sign Up</button>
                        </form>
                    </div>
                    <!-- </div> -->

                </div>

            </div>

        <!-- </div> -->
        </div>

    </div>
    {% endif %}
    <!--/.Mask-->

</header>

{% endblock %}
